.input {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--bg-secondary);
    outline: none;
    border-radius: 20px;
    -webkit-transition: outline 0.5s ease-in;
    -o-transition: outline 0.5s ease-in;
    transition: outline 0.5s ease-in;
}

.input:focus-within {
    outline: 1px solid var(--primary-color)
}
